.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	height: 80px;
	background-color: #ffffff;
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);

	&__logo {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 154px;
		height: 56px;
		margin-left: -77px;
		margin-top: -27px;

		@media @notebook {
			&_inner {
				left: 100px;
				margin-left: 0;
			}
		}
	}

	&-menu {
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		height: 100%;
		cursor: pointer;
		padding: 28px 24px;

		@media @notebook {
			display: none;
		}

		&__inner {
			position: relative;
			display: inline-block;
			width: 24px;
			height: 24px;
			background-color: #F9F9F9;
			-webkit-border-radius: 8px;
			border-radius: 8px;

			i {
				position: absolute;
				left: 50%;
				top: 50%;
				width: 16px;
				height: 2px;
				margin-top: -1px;
				margin-left: -8px;
				background-color: #000000;
				-webkit-border-radius: 2px;
				border-radius: 2px;

				&:before,
				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: #000000;
					-webkit-border-radius: 2px;
					border-radius: 2px;
				}

				&:before {
					margin-top: -5px;
				}

				&:after {
					margin-top: 5px;
				}
			}
		}
	}

	&__tip {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		padding: 7px 16px;
		background-color: #ffffff;

		@media @notebook {
			margin-left: @desktopNav - 16px;
		}
	}

	&__title {
		display: none;

		@media @notebook {
			display: block;
			position: absolute;
			left: @desktopNav;
			top: 50%;
			font-size: 18px;
			line-height: 25px;
			font-weight: bold;
			letter-spacing: .02em;
			margin-top: -16px;
		}
	}

	&__btn {
		display: none;

		@media @notebook {
			display: inline-block;
			position: absolute;
			right: 16px;
			top: 50%;
			width: auto;
			min-width: 258px;
			margin-top: -22px;
		}
	}
}

.start,
.welcome {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.start {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 253px;
	height: 100%;
	align-self: center;
	width: 100%;
	max-width: 920px;

	@media @notebook {
		padding-bottom: 45px;
	}

	&__container {
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		min-height: 253px;
		padding: 24px 0 0;
		background-color: #ffffff;
		-webkit-border-radius: 5px;
		border-radius: 5px;

		@media @notebook {
			max-height: 90%;
			-ms-flex-item-align: center;
			-ms-grid-row-align: center;
			align-self: center;
			-ms-grid-column-align: center;
			justify-self: center;
		}
	}

	&__title {
		display: block;
		font-size: 16px;
		line-height: 19px;
		font-weight: bold;
		letter-spacing: .02em;
		margin: 0 24px 24px;
	}

	&__content {
		overflow-y: auto;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		padding: 0 24px;

		h2 {
			font-size: 15px;
			line-height: 18px;
			font-weight: bold;
			letter-spacing: .02em;
			margin: 0 0 24px;
		}

		p {
			display: block;
			font-size: 13px;
			line-height: 16px;
			letter-spacing: .01em;
			margin-bottom: 16px;
		}
	}

	&__foot {
		padding: 18px 24px 24px;
		border-top: 1px solid #EFEFEF;
	}
}


.welcome {
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	width: 100%;
	max-width: 348px;
	margin-bottom: 24px;

	&__title {
		display: block;
		font-size: 24px;
		line-height: 28px;
		font-weight: bold;
		text-align: center;
		letter-spacing: .02em;
		margin-bottom: 24px;
	}
}

.login {
	&-nav {
		overflow: hidden;
		font-size: 0;
		-webkit-border-radius: 5px 5px 0 0;
		border-radius: 5px 5px 0 0;

		&__item {
			display: inline-block;
			width: 50%;
			font-size: 16px;
			line-height: 19px;
			font-weight: bold;
			text-align: center;
			cursor: pointer;
			padding: 16px 14px 13px;
			background-color: #EBEBEB;

			&.is-active {
				background-color: #ffffff;
			}
		}
	}

	&-content {
		padding: 24px;
		background-color: #ffffff;
		-webkit-border-radius: 0 0 5px 5px;
		border-radius: 0 0 5px 5px;
	}
}

.nav {
	width: 100%;

	@media @notebook {
		display: none;
	}

	&__group {
		margin-bottom: 8px;
		background-color: #ffffff;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}

	&-head {
		position: relative;
		min-height: 55px;
		padding: 19px 56px 16px;
		border-bottom: 2px solid #f5f5f5;

		&_simple {
			padding-left: 16px;
			padding-right: 16px;
		}

		&__title {
			display: block;
			font-size: 14px;
			line-height: 20px;
			font-weight: bold;
			text-align: center;
		}

		&__back {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 56px;
			cursor: pointer;

			svg {
				position: absolute;
				left: 50%;
				top: 50%;
				width: 20px;
				height: 20px;
				fill: @colorOrange;
				margin-left: -10px;
				margin-top: -10px;
			}
		}
	}

	&-item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		letter-spacing: .02em;
		cursor: pointer;
		padding: 15px 8px;
		border-bottom: 2px solid #f5f5f5;

		&:last-child {
			border-bottom-width: 0;
		}

		&.is-active {
			.nav-item__title {
				color: @colorLink;
			}
		}

		&__lc {
			display: inline-block;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
		}

		&__rc {
			display: inline-block;
			white-space: nowrap;
		}

		&__text {
			display: inline-block;
			color: @colorBase;
			font-size: 18px;
			line-height: 25px;
			padding: 0 8px;
		}

		&__count {
			font-weight: bold;

			&_green {
				color: @colorLink;
			}

			&_red {
				color: @colorRed;
			}
		}

		&__title {
			color: @colorBase;
			font-weight: bold;
		}

		&__date {
			color: @colorLink;
		}

		&__arrow {
			display: inline-block;
			width: 20px;
			height: 20px;
			fill: @colorOrange;
			margin: 0 10px 0 8px;
		}
	}

	&-switch {
		position: relative;
		padding: 1px 0 1px 54px;
		margin: 3px 0 22px;

		.jq-flipswitch {
			position: absolute !important;
			left: 0;
			top: 0;
		}

		&__checkbox {
			display: none;
		}

		&__label {
			display: inline-block;
			font-size: 14px;
			line-height: 20px;
			font-weight: bold;
			letter-spacing: .02em;
		}
	}
}

.modal-nav {
	.nav-item:last-child {
		border-bottom-width: 2px;
	}

	.nav__group:last-child .nav-item:last-child {
		border-bottom-width: 0;
	}

	.nav-item__lc {
		margin-left: -16px;
	}

	.nav-item__rc {
		margin-right: -16px;
	}
}

.alert {
	position: relative;
	min-height: 66px;
	padding: 16px 16px 18px 56px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	&_top {
		-webkit-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}

	&_red {
		background-color: @colorRed;
	}

	&_green {
		background-color: @colorLink;
	}

	&__icon {
		position: absolute;
		left: 16px;
		top: 16px;
		width: 24px;
		height: 24px;
		fill: none;
		stroke: @colorWhite;
	}

	&__text {
		display: block;
		color: @colorWhite;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: .02em;
	}
}

.orders {
	&_fixed {
		padding-bottom: 138px;
	}

	&-scroll {
		display: flex;
		flex-direction: column;
		height: ~'calc(100% + 40px)';
		min-height: 293px;
		margin: -16px -16px -24px;

		&__content {
			flex: 1;
			overflow-y: auto;
			padding: 16px 16px 24px;

			@media @notebook {
				padding-bottom: ~'calc(86px + 16px)';
			}
		}

		&__action {
			padding: 16px;
			background-color: #f9f9f9;
			border-top: 2px solid #f2f2f2;

			@media @notebook {
				position: fixed;
				left: @desktopNav;
				right: 0;
				bottom: 0;
				z-index: 10;
				padding: 16px 0 24px;
			}
		}

		&__btn {
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}

			@media @notebook {
				display: inline-block;
				max-width: 343px;
				margin: 0 16px 0 0;
			}
		}
	}

	&-list {
		background-color: #ffffff;
		margin-bottom: -8px;
		-webkit-border-radius: 5px;
		border-radius: 5px;

		@media @notebook {
			margin-bottom: 0;
		}
	}

	&-filter {
		display: flex;
		font-size: 0;
		margin: 0 -4px 8px;

		@media @notebook {
			margin-bottom: 16px;
		}

		&__col {
			display: inline-block;
			padding: 0 4px;

			&_wide {
				flex: 1;
			}
		}

		&__date {
			display: block;
			width: 40px;
			height: 40px;
			cursor: pointer;
			padding: 6px 8px 10px;

			svg {
				width: 24px;
				height: 24px;
				stroke: #000000;
			}
		}
	}

	&-preview {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		font-size: 0;
		cursor: pointer;
		padding: 12px 8px 14px;
		border-bottom: 2px solid #f5f5f5;

		&:last-child {
			border-bottom-width: 0;
		}

		&.is-opened {
			+ .orders-item {
				display: block;
			}
		}

		&__text {
			display: inline-block;
			color: @colorBase;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: .02em;
			padding: 0 8px;
		}

		&__lc {
			flex: 1;
		}

		&__rc {
			white-space: nowrap;
		}

		&__title {
			font-weight: bold;
		}

		&__date {
			color: @colorLink;
		}

		&__letter {
			display: inline-block;
			width: 24px;
			height: 24px;
			cursor: pointer;
			margin: -2px -3px;

			svg {
				width: 24px;
				height: 24px;
				stroke: #000000;
			}

			&.has-new {
				position: relative;

				&:after {
					content: '';
					position: absolute;
					right: 0;
					top: 2px;
					width: 8px;
					height: 8px;
					background-color: @colorOrange;
					-webkit-border-radius: 50%;
					border-radius: 50%;
				}
			}
		}
	}

	&-item {
		display: none;
		position: relative;
		letter-spacing: .02em;
		padding: 22px 16px 8px;
		border-bottom: 2px solid #f5f5f5;

		@media @notebook {
			position: relative;
			z-index: 1;
			margin-top: -2px;
			padding-top: 11px;
			background-color: #ffffff;
			-webkit-border-radius: 0 0 5px 5px;
			border-radius: 0 0 5px 5px;
		}

		&:last-child {
			border-bottom-width: 0;
		}

		&__row {
			display: flex;
			margin: 0 -8px;
		}

		&__col {
			display: inline-block;
			padding: 0 8px;
		}

		&__lc {
			width: 110px;

			@media @notebook {
				width: 310px + 16px;
				padding-bottom: 0;

				&_action {
					padding-bottom: 49px;
				}
			}
		}

		&__rc {
			flex: 1;
		}

		&__expand {
			position: absolute;
			right: 13px;
			top: 15px;
			z-index: 5;
			stroke: #000000;
			cursor: pointer;
		}

		&__title {
			display: block;
			font-size: 16px;
			line-height: 20px;
			font-weight: bold;
			margin: 0 36px 12px 0;

			@media @notebook {
				-webkit-box-flex: 1;
				-ms-flex: 1;
				flex: 1;
				font-size: 24px;
				line-height: 30px;
				margin-right: 0;
			}
		}

		@media @notebook {
			&__header {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-webkit-box-align: start;
				-ms-flex-align: start;
				align-items: flex-start;
				padding-right: 52px;
				margin-bottom: 8px;
			}
		}

		&__list {
			font-size: 13px;
			line-height: 16px;
			font-weight: bold;
			margin: 0 0 10px;

			@media @notebook {
				margin-bottom: 24px;
			}
		}

		&-photo {
			position: relative;
			width: 75px;
			height: 75px;
			margin-bottom: 24px;
			margin-top: -7px;

			@media @notebook {
				width: 268px;
				height: 268px;
			}

			&__img {
				position: absolute;
				width: 63px;
				height: 63px;
				left: 6px;
				top: 6px;

				@media @notebook {
					left: 18px;
					top: 18px;
					width: 232px;
					height: 232px;
				}
			}

			&__zoom {
				position: absolute;
				right: -1px;
				bottom: -6px;
				z-index: 5;
				display: block;
				width: 24px;
				cursor: pointer;
				padding: 4px;

				@media @notebook {
					right: 18px;
					bottom: 18px;
				}

				svg {
					width: 16px;
					height: 16px;
					stroke: #000000;
				}
			}
		}

		&__price {
			display: block;
			font-size: 18px;
			line-height: 22px;
			font-weight: bold;
			margin-bottom: 11px;

			@media @notebook {
				display: inlile-block;
				font-size: 24px;
				line-height: 30px;
				white-space: nowrap;
				margin: 0 0 0 16px;
			}
		}

		&__text {
			display: block;
			font-size: 14px;
			line-height: 16px;
			font-weight: bold;
			margin-bottom: 9px;

			&_inline {
				display: inline-block;
				min-width: 100px;
				margin-right: 6px;
			}

			span {
				display: block;
				color: #000000;
				font-weight: normal;
				margin-bottom: 2px;
			}
		}

		&-links {
			font-size: 0;
			margin: -8px -8px 12px;

			@media @notebook {
				margin-bottom: 16px;
			}

			&__col {
				display: inline-block;
				min-width: 82px;
				padding: 0 8px;
			}

			&__item {
				display: inline-block;
				color: @colorLink;
				font-size: 13px;
				line-height: 16px;
				font-weight: bold;
				cursor: pointer;
			}
		}

		&-action {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			font-size: 0;
			margin: 16px -8px 0;

			@media @notebook {
				position: absolute;
				left: 16px;
				bottom: 7px;
				z-index: 10;
				width: 318px;
			}

			&__col {
				display: inline-block;
				width: 50%;
				padding: 0 8px;
				margin-bottom: 16px;
			}
		}
	}

	&-camera {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		font-size: 0;
		cursor: pointer;
		margin: 13px 0 33px;

		@media @notebook {
			margin: 0 0 24px;
		}

		&__icon {
			display: inline-block;
			width: 24px;
			height: 24px;
			stroke: #E9AF10;
			margin-right: 13px;
		}

		&__text {
			display: inline-block;
			color: #E9AF10;
			font-size: 14px;
			line-height: 16px;
			font-weight: bold;
			letter-spacing: .01em;
			margin-top: 2px;
		}
	}

	&-nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin: 18px 0 24px;

		&__arrow {
			display: inline-block;
			width: 24px;
			height: 24px;
			stroke: #000000;
			cursor: pointer;

			&.is-disabled {
				opacity: 0;
				visibility: hidden;
			}
		}

		&__link {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			font-size: 0;
			margin: 0 8px;
		}

		&__icon {
			display: inline-block;
			width: 24px;
			height: 24px;
			stroke: #000000;
			margin-right: 16px;
		}

		&__text {
			display: inline-block;
			color: @colorLink;
			font-size: 14px;
			line-height: 20px;
			font-weight: bold;
			letter-spacing: .02em;
		}
	}

	&-mark {
		margin-top: 24px;
		margin-bottom: 8px;

		&__btn {
			width: 100%;
			margin-top: 8px;
		}
	}

	&__uploaded {
		margin-top: 32px;
		margin-bottom: -16px;
	}
}

.uploaded {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	font-size: 0;
	margin-left: -8px;
	margin-right: -8px;

	&_center {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}

	&__col {
		display: inline-block;
		padding: 0 8px;
		margin-bottom: 16px;
	}

	&__item {
		position: relative;
		width: 100px;
		height: 100px;
	}

	&__pic {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		-webkit-border-radius: 8px;
		border-radius: 8px;
	}

	&__remove {
		position: absolute;
		right: -8px;
		top: -8px;
		display: block;
		width: 24px;
		height: 24px;
		cursor: pointer;
		background-color: @colorRed;
		-webkit-border-radius: 50%;
		border-radius: 50%;

		svg {
			position: absolute;
			left: 50%;
			top: 50%;
			stroke: @colorWhite;
			width: 16px;
			height: 16px;
			margin-top: -8px;
			margin-left: -8px;
		}
	}
}

.bq {
	margin: -2px 0 -8px;

	@media @notebook {
		margin: 0 0 -8px;
	}

	&__group {
		margin-bottom: 8px;
		background-color: #ffffff;
		-webkit-border-radius: 5px;
		border-radius: 5px;

		@media @notebook {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			font-size: 0;
			margin: 0 -8px;
			background-color: transparent;
			-webkit-border-radius: 0;
			border-radius: 0;

			&_search {
				margin: 0 0 16px;
			}
		}

		&.is-opened {
			.bq-item {
				display: block;

				@media @notebook {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
				}
			}

			.bq-title__icon {
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}
	}

	&-title {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		font-size: 0;
		cursor: pointer;
		padding: 15px 16px 16px;

		@media @notebook {
			width: calc(100% - 16px);
			margin: 0 8px 8px;
			background-color: #ffffff;
			-webkit-border-radius: 5px;
			border-radius: 5px;
		}

		&__text {
			flex: 1;
			display: inline-block;
			font-size: 16px;
			line-height: 22px;
			font-weight: bold;
			letter-spacing: .02em;
		}

		&__icon {
			display: inline-block;
			width: 24px;
			height: 24px;
			fill: @colorLink;
			margin: 0 -1px -2px 16px;
		}
	}

	&-item {
		display: none;
		letter-spacing: .02em;
		padding: 15px 16px 15px;
		border-top: 2px solid #f5f5f5;

		@media @notebook {
			width: calc(50% - 16px);
			margin: 0 8px 8px;
			background-color: #ffffff;
			border-top-width: 0;
			-webkit-border-radius: 5px;
			border-radius: 5px;
		}

		&__row {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: start;
			-ms-flex-align: start;
			align-items: flex-start;
			font-size: 0;
			margin: 0 -8px;
		}

		&__col {
			display: inline-block;
			padding-right: 8px;

			&_lc {
				width: 96px;
			}

			&_rc {
				flex: 1;
				padding-left: 8px;
			}
		}

		&__pic {
			position: relative;
			padding-top: 100%;
			margin-top: -7px;
			margin-bottom: 16px;
			background-color: @colorYellow;
			-webkit-transition: -webkit-filter .2s ease;
			transition: filter .2s ease;

			&.is-disabled {
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
			}
		}

		&__img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: auto;
		}

		&__head {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: start;
			-ms-flex-align: start;
			align-items: flex-start;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}

		&__title {
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			display: inline-block;
			font-size: 16px;
			line-height: 22px;
			font-weight: bold;
			margin-bottom: 6px;
		}

		&__switch {
			display: inline-block;
			margin-left: 16px;
			margin-top: 1px;
			margin-bottom: 5px;
		}

		&__code {
			display: block;
			color: #B7B7B7;
			font-size: 13px;
			line-height: 18px;
			margin-top: -5px;
			margin-bottom: 6px;
		}
	}

	&-list {
		margin-bottom: 12px;

		&__row {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-webkit-box-align: end;
			-ms-flex-align: end;
			align-items: flex-end;
			margin-bottom: 6px;
		}

		&__text {
			font-size: 14px;
			line-height: 16px;
		}

		&__lc {
			position: relative;
			display: inline-block;
			flex: 1;
			padding-right: 5px;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 5px;
				right: 0;
				border-bottom: 2px dotted #D5D5D5;
			}
		}

		&__title {
			position: relative;
			z-index: 1;
			display: inline;
			padding-right: 4px;
			background-color: #ffffff;
		}

		&__num {
			display: inline-block;
			padding-left: 10px;
		}
	}

	&-action {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;

		@media @notebook {
			margin-top: auto;
		}

		&__link {
			display: inline-block;
			color: @colorLink;
			font-size: 13px;
			line-height: 18px;
			font-weight: bold;
			cursor: pointer;
			margin-top: 2px;
			margin-right: 16px;
		}

		&__btn {
			display: inline-block;
			width: auto;
			min-width: 166px;
			font-weight: bold;
			margin-left: auto;
		}
	}
}

.edit {
	&__group {
		padding: 16px 16px 8px;
		border-bottom: 2px solid #f5f5f5;
	}

	&__elem {
		margin: 0 0 8px;
	}

	&-prices {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin: 0 -8px;

		&__col {
			display: inline-block;
			padding: 0 8px;

			&_lc {
				flex: 1;
			}

			&_input {
				width: 84px;
			}
		}

		&__title {
			display: inline-block;
			font-size: 14px;
			line-height: 16px;
			letter-spacing: .02em;
			margin-bottom: 6px;
		}
	}

	&__title {
		display: block;
		color: fade(@colorBase, 80%);
		font-size: 16px;
		line-height: 24px;
		font-weight: bold;
		letter-spacing: .02em;
		margin: 0 0 15px;

		&_sub {
			margin-bottom: 8px;
		}
	}

	&__tip {
		display: inline-block;
		width: 24px;
		height: 24px;
		cursor: pointer;
		margin: -1px 0 1px 3px;
	}

	&__subgroup {
		margin-top: 16px;

		&:first-child {
			margin-top: 0;
		}
	}

	&-tip {
		display: none;
		position: relative;
		padding: 24px 26px 8px 24px;
		margin: 0 0 8px;
		background-color: @colorYellow;
		-webkit-border-radius: 5px;
		border-radius: 5px;

		&.is-opened {
			display: block;
		}

		&__text {
			display: block;
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 16px;
		}

		&__close {
			position: absolute;
			right: 0;
			top: 0;
			cursor: pointer;
			line-height: 0;
			padding: 15px;

			svg {
				width: 10px;
				height: 10px;
				stroke: #000000;
			}
		}
	}

	&-add {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		cursor: pointer;
		padding: 5px;
		margin: 12px -5px 10px;

		&__icon {
			display: inline-block;
			width: 16px;
			height: 16px;
			stroke: @colorLink;
			margin-right: 8px;
		}

		&__text {
			display: inline-block;
			color: @colorLink;
			font-size: 14px;
			line-height: 16px;
			font-weight: bold;
			letter-spacing: .02em;
		}
	}

	&-custom {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		font-size: 0;
		margin: 0 -4px;

		&__col {
			display: inline-block;
			padding: 0 4px;
			margin-bottom: 8px;

			&_time {
				width: ~'calc(182px + 8px)';
				margin-right: auto;
			}

			&_width {
				width: ~'calc(119px + 8px)';
			}

			&_height {
				width: ~'calc(123px + 8px)';
			}

			&_title {
				width: ~'calc(100% - (55px + 8px))';
			}

			&_quantity {
				width: ~'calc(55px + 8px)';
			}
		}
	}

	&__upload {
		padding: 7px;
		border-bottom: 2px solid #f5f5f5;

		&_standart {
			padding: 16px 16px 7px;
		}

		.uploaded {
			margin: 16px -5px 0;
		}

		.uploaded__col {
			padding: 0 5px;
			margin-bottom: 8px;
		}
	}

	&-files {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		font-size: 0;
		margin: 0 -4px;

		&__col {
			display: inline-block;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			cursor: pointer;
			padding: 0 4px;
			margin-bottom: 8px;
		}

		&__item {
			display: block;
			width: 100%;
			padding: 16px 16px 8px;
			text-align: center;
			cursor: pointer;
			background-color: #F9F9F9;
			-webkit-border-radius: 5px;
			border-radius: 5px;
		}

		&__icon {
			display: block;
			width: 24px;
			height: 24px;
			fill: none;
			stroke: #000000;
			margin: 0 auto 17px;
		}

		&__text {
			display: block;
			color: @colorLink;
			font-size: 14px;
			line-height: 16px;
			font-weight: bold;
			letter-spacing: .02em;
			margin: 0 0 10px;
		}
	}

	&-time {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		font-size: 0;
		margin: 0 -4px;

		&__col {
			display: inline-block;
			padding: 0 4px;
			margin-bottom: 8px;

			&_wide {
				flex: 1;
			}
		}

		&__split {
			display: inline-block;
			font-size: 16px;
			line-height: 19px;
		}
	}
}

.msg {
	@media @notebook {
		position: fixed;
		z-index: 10;
		left: @desktopNav;
		width: @desktopChat;
		top: 82px;
		bottom: 0;
		padding: 16px 16px 16px 0;
		overflow-y: auto;
	}

	&_full {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		height: ~'calc(100% + 40px)';
		margin: -16px -16px -24px;

		@media @notebook {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			position: fixed;
			left: @desktopNav + @desktopChat;
			top: 82px;
			right: 0;
			bottom: 0;
			width: auto;
			height: auto;
			padding: 0;
			margin: 0;
			border-left: 1px solid #e5e5e5;
		}
	}

	&__search {
		margin-bottom: 16px;
	}

	&-list {
		background-color: #ffffff;
		-webkit-border-radius: 5px;
		border-radius: 5px;

		&__item {
			position: relative;
			display: block;
			color: @colorBase;
			letter-spacing: .02em;
			cursor: pointer;
			padding: 17px 12px 8px 56px;
			border-bottom: 2px solid #f5f5f5;

			&:last-child {
				border-bottom-width: 0;
			}

			&.is-active {
				background-color: #F3F3F3;
			}
		}

		&__pic {
			overflow: hidden;
			position: absolute;
			left: 16px;
			top: 16px;
			width: 24px;
			height: 24px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
			-webkit-border-radius: 50%;
			border-radius: 50%;
		}

		&__icon {
			width: 24px;
			height: 24px;
		}

		&__head {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: start;
			-ms-flex-align: start;
			align-items: flex-start;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			margin-bottom: 8px;
		}

		&__id {
			flex: 1;
			display: inline-block;
			font-size: 16px;
			line-height: 22px;
			font-weight: bold;
			margin-right: 16px;
		}

		&__date {
			display: inline-block;
			color: #7C7C7C;
			font-size: 14px;
			line-height: 20px;
			font-weight: bold;
			text-transform: uppercase;
			margin-top: -3px;
		}

		&__content {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-webkit-box-align: start;
			-ms-flex-align: start;
			align-items: flex-start;
			width: 100%;
			padding-right: 14px;
		}

		&__text {
			overflow: hidden;
			display: block;
			max-height: 32px;
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 8px;
		}

		&__new {
			display: inline-block;
			min-width: 20px;
			height: 20px;
			color: @colorWhite;
			font-size: 12px;
			line-height: 20px;
			font-weight: bold;
			text-align: center;
			background-color: @colorOrange;
			margin: 2px -10px 8px 24px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
		}
	}

	&-back {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		color: @colorBase;
		background-color: #ffffff;
		padding: 17px 16px 15px;
		margin-bottom: 8px;
		border-bottom: 2px solid #f5f5f5;

		&__icon {
			display: inline-block;
			width: 24px;
			height: 24px;
			fill: @colorOrange;
			margin: -1px 16px -1px 0;

			@media @notebook {
				display: none;
			}
		}

		&__text {
			display: block;
			font-size: 16px;
			line-height: 22px;
			font-weight: bold;
			letter-spacing: .02em;
		}
	}

	&-chat {
		overflow-y: auto;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;

		&__inner {
			padding: 16px 16px 8px;

			.msg__search {
				display: none;
			}
		}

		&__item {
			margin-bottom: 8px;

			&_lc {
				margin-right: 24px;
			}

			&_rc {
				margin-left: 24px;
			}
		}
	}

	&-item {
		letter-spacing: .02em;
		padding: 16px;
		background-color: #ffffff;

		&__head {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: start;
			-ms-flex-align: start;
			align-items: flex-start;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			margin-bottom: 11px;
		}

		&__date {
			display: inline-block;
			color: #7C7C7C;
			font-size: 14px;
			line-height: 20px;
			font-weight: bold;
			text-transform: uppercase;
			white-space: nowrap;
			margin-left: 16px;
		}

		&__user {
			display: inline-block;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			font-size: 0;
		}

		&__logo {
			overflow: hidden;
			display: inline-block;
			width: 24px;
			height: 24px;
			margin: -1px 16px -3px 0;
			-webkit-border-radius: 50%;
			border-radius: 50%;
		}

		&__name {
			display: inline-block;
			color: @colorLink;
			font-size: 14px;
			line-height: 20px;
			font-weight: bold;
		}

		&__text {
			display: block;
			font-size: 14px;
			line-height: 16px;
			font-weight: bold;
		}

		&__media {
			padding: 6px 0 16px;
			margin: 0 -16px;

			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}

	&-action {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 0 16px;
		background-color: #ffffff;
		border-top: 2px solid #ececec;

		&__file {
			position: relative;
			z-index: 1;
			display: inline-block;
			width: 32px;
			height: 32px;
			cursor: pointer;
			margin-right: -3px;
			margin-bottom: 8px;
			margin-left: -11px;

			svg {
				position: absolute;
				left: 50%;
				top: 50%;
				width: 12px;
				height: 21px;
				margin-left: -5px;
				margin-top: -11px;
			}
		}

		&__type {
			position: relative;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			width: 100%;
			min-height: 47px;
			max-height: 104px;
			font-size: 16px;
			line-height: 19px;
			letter-spacing: .02em;
			padding: 14px 10px;
			resize: none;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		&__send {
			position: relative;
			display: inline-block;
			width: 32px;
			height: 32px;
			fill: @colorOrange;
			cursor: pointer;
			margin-left: -1px;
			margin-bottom: 8px;
			margin-right: -2px;
			-webkit-transition: -webkit-filter .2s ease;
			transition: filter .2s ease;

			&.is-disabled {
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
			}
		}
	}
}

.lk {
	margin-bottom: -16px;

	@media @notebook {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		font-size: 0;
		margin: 0 -8px;

		&__col {
			display: inline-block;
			width: calc(50% - 16px);
			margin: 0 8px;
		}
	}

	&-status {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		letter-spacing: .02em;
		padding: 15px 16px 17px;
		margin-bottom: 16px;
		background-color: #ffffff;
		-webkit-border-radius: 4px;
		border-radius: 4px;

		&__title {
			display: inline-block;
			color: #B3B3B3;
			font-size: 14px;
			line-height: 17px;
			font-weight: bold;
			margin-right: 16px;
		}

		&__icon {
			display: inline-block;
			width: 24px;
			height: 24px;
			fill: @colorLink;
			margin: 1px 16px -1px 0;
			-webkit-border-radius: 16px;
			border-radius: 16px;
			-webkit-transition: opacity .2s ease, -webkit-filter .2s ease;
			transition: opacity .2s ease, filter .2s ease;

			&.is-disabled {
				opacity: .5;
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
			}
		}

		&__text {
			display: inline-block;
			font-size: 14px;
			line-height: 17px;
			font-weight: bold;
			margin-right: 16px;

			&.is-disabled {
				opacity: .5;
				-webkit-transition: opacity .2s ease;
				transition: opacity .2s ease;
			}
		}

		&__switcher {
			display: inline-block;
			margin-left: auto;
		}
	}

	&-list {
		margin-bottom: 16px;
		background-color: #ffffff;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}

	&-card {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		letter-spacing: .02em;
		padding: 16px 16px 24px;

		&__pic {
			display: inline-block;
			width: 40px;
			height: 40px;
			margin-right: 16px;
			background-color: @colorYellow;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
			-webkit-border-radius: 50%;
			border-radius: 50%;
		}

		&__content {
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			margin-right: 16px;
		}

		&__title {
			display: block;
			font-size: 18px;
			line-height: 22px;
			font-weight: bold;
		}

		&__name {
			display: block;
			color: #B3B3B3;
			font-size: 14px;
			line-height: 17px;
			font-weight: bold;
			margin-top: 6px;
		}

		&__edit {
			margin-left: auto;
		}
	}

	&-item {
		border-top: 2px solid #f5f5f5;

		&__drop {
			display: none;
		}

		&__inner {
			padding: 1px 16px 17px;
		}

		&.is-opened {
			.lk-head__drop {
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
			}

			.lk-item__drop {
				display: block;
			}
		}
	}

	&-head {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 15px 16px;

		&__col {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			cursor: pointer;
			margin-right: 16px;
		}

		&__drop {
			display: inline-block;
			width: 24px;
			height: 24px;
			fill: @colorLink;
			margin-right: 16px;
		}

		&__title {
			display: inline-block;
			font-size: 16px;
			line-height: 22px;
			font-weight: bold;
			letter-spacing: .02em;
		}

		&__edit {
			margin-left: auto;
		}
	}

	&-stats {
		letter-spacing: .02em;
		padding: 16px 16px 6px;
		margin-bottom: 16px;
		background-color: #ffffff;
		-webkit-border-radius: 5px;
		border-radius: 5px;

		&__title {
			display: block;
			font-size: 16px;
			line-height: 20px;
			font-weight: bold;
		}

		&__item {
			padding: 15px 0 6px;
			border-bottom: 1px solid #ececec;

			&:last-child {
				padding-bottom: 0;
				border-bottom-width: 0;
			}
		}

		&__row {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-webkit-box-align: end;
			-ms-flex-align: end;
			align-items: flex-end;
			font-size: 0;
			margin-bottom: 11px;
		}

		&__col {
			display: inline-block;

			&_lc {
				-webkit-box-flex: 1;
				-ms-flex: 1;
				flex: 1;
			}

			&_rc {
				white-space: nowrap;
				margin-left: 16px;
			}
		}

		&__text {
			display: inline-block;
			font-size: 15px;
			line-height: 19px;
			font-weight: bold;

			&_status {
				position: relative;
				padding-left: 16px;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 5px;
					width: 8px;
					height: 8px;
					-webkit-border-radius: 50%;
					border-radius: 50%;
				}
			}

			&_yellow {
				&:before {
					background-color: @colorYellow;
				}
			}

			&_green {
				&:before {
					background-color: @colorLink;
				}
			}

			&_orange {
				&:before {
					background-color: @colorOrange;
				}
			}
		}

		&__subtext {
			display: inline-block;
			font-size: 13px;
			line-height: 18px;
			margin: 2px 0 -1px;
		}
	}

	&-about {
		&__text {
			display: block;
			font-size: 15px;
			line-height: 22px;
			letter-spacing: .02em;
			margin-bottom: 22px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&-contacts {
		&__item {
			font-size: 15px;
			line-height: 21px;
			letter-spacing: .02em;
			margin-bottom: 21px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__title {
			display: block;
			font-weight: bold;
		}

		&__text {
			display: block;
		}
	}

	&-schedule {
		margin-bottom: 9px;

		&__item {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: start;
			-ms-flex-align: start;
			align-items: flex-start;
			-webkit-box-pack: start;
			-ms-flex-pack: start;
			justify-content: flex-start;
			font-size: 15px;
			line-height: 21px;
			letter-spacing: .02em;
		}

		&__title {
			display: inline-block;
			min-width: 140px;
			padding-right: 16px;
		}

		&__text {
			display: inline-block;
			font-weight: bold;
		}
	}

	&-table {
		color: #000000;
		font-size: 15px;
		line-height: 21px;
		letter-spacing: .02em;
		width: 100%;
		margin: 2px 0 -23px;

		th {
			width: 1%;
			font-weight: normal;
			text-align: left;
			white-space: nowrap;
			padding-right: 12px;
		}

		td {
			padding-left: 16px;
		}

		th,
		td {
			padding-bottom: 21px;
		}

		&__title {
			display: block;
			font-weight: bold;
		}

		&__phone {
			display: block;
			color: @colorLink;
			font-weight: bold;
		}

		&__price {
			display: inline-block;
			width: 100%;
			min-width: 80px;
			font-weight: bold;
			text-align: right;

			&.is-disabled {
				color: #B0B0B0;
			}
		}

		&_bank {
			margin: -3px 0 2px;

			th,
			td {
				padding-bottom: 12px;
			}

			td {
				font-weight: bold;
				padding-left: 14px;
			}
		}

		&_delivery {
			margin: 24px 0 -6px;

			th {
				white-space: normal;
				font-weight: bold;
			}

			td {
				padding-left: 16px;
			}

			th,
			td {
				width: 33.3333%;
				padding-bottom: 11px;
			}

			thead {
				th,
				td {
					padding-bottom: 23px;
				}
			}
		}

		&_rules {
			margin: -4px 0 2px;

			th,
			td {
				font-weight: bold;
				white-space: normal;
				vertical-align: middle;
				padding-bottom: 11px;
			}

			th {
				width: auto;
				padding-right: 0;
			}

			td {
				padding-left: 16px;
			}
		}
	}

	&__tip {
		margin: 5px 0 0;
	}
}

.grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;

	&__nav {
		@media @notebook {
			display: inline-block;
			width: 343px;
			margin-right: 24px;
			margin-bottom: 37px;

			.nav {
				display: block;
			}
		}
	}

	&__content {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		display: inline-block;
	}
}

.wrapper_fixed {
	.grid {
		height: 100%;

		&__content {
			height: 100%;
		}
	}
}

.desktop-hide {
	@media @notebook {
		display: none;
	}
}

.mobile-hide {
	@media @mobile {
		display: none;
	}
}