@colorBase: #333333;
@colorLink: #5B8D31;
@colorLinkHover: #444444;
@colorYellow: #FFD96F;
@colorOrange: #FB6649;
@colorWhite: #FFFFFF;
@colorRed: #FB6649;
@colorGrey: #B3B3B3;
@desktopNav: 343px + 16px + 24px;
@desktopChat: 343px + 16px;

@imgUrl: '../img';
@picsUrl: '../pic';

@notebook: ~'(min-width: 992px)';
@desktop: ~'(min-width: 1200px)';
@mobile: ~'(max-width: 991px)';

@trebuchet: 'Trebuchet MS', sans-serif;

.placeholder(@color) {
	::-webkit-input-placeholder {
		color: @color;
	}

	:-moz-placeholder {
		color: @color;
	}

	::-moz-placeholder {
		color: @color;
	}

	:-ms-input-placeholder {
		color: @color;
	}
}